[Unit]
Description=pira

[Service]
Environment=PYTHONUNBUFFERED=1
EnvironmentFile=/etc/environment
ExecStart=/home/pi/pira-smart-software/start.sh
WorkingDirectory=/home/pi/pira-smart-software
Restart=on-failure

[Install]
WantedBy=multi-user.target
